@media screen and (min-width: 768px) {
  .cursor {
    scroll-behavior: smooth;
    // position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: crimson;
    // mix-blend-mode:difference;
    transition:
      width 0.3s ease,
      height 0.3s ease;
  }

  .scale {
    width: 80px;
    height: 80px;
    background-color: $black;
    text-align: center;
    color: $light;
    // text-shadow: 0 0 3px currentColor;
    display: grid;
    place-items: center;
    mix-blend-mode: normal;
    font-size: 1.1rem;
  }

  .blend-mode-img {
    background-color: white;
    mix-blend-mode: difference;
    width: 80px;
    height: 80px;
  }
}
